<header>
    <nav class="nav-wrapper meta-nav">
        <div class="page-wrapper">
            <div class="menu-icon">
                <i class="fal fa-bars open" aria-hidden="true"></i>
                <i class="fal fa-times close" aria-hidden="true"></i>
            </div>
            <div class="social-media">
                <span class="fab fa-facebook"></span>
                <span class="fab fa-twitter"></span>
                <span class="fab fa-pinterest"></span>
            </div>
            <div class="weather">
                <span id="icon"></span> <span id="temperature" class="temperature">--</span>°C
            </div>
            <div class="book">
                <a href="">BUCHEN</a>
            </div>
        </div>
    </nav>
    <nav class="nav-warpper link-nav">
        <div class="page-wrapper menu-wrapper">
            <div class="row">
                <div class="column column-100 center">
                    <div class="logo">
                        <a href="/"><img src="../../images/logo.jpg" alt="Parkhotel Bayersoien"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column column-100 center">
                    <div class="menu">
                        <ul>
                            <li>
                                <a href=""> Link 1</a>
                                <ul>
                                    <li>
                                        <a href=""> Link 1</a>
                                    </li>
                                    <li>
                                        <a href=""> Link 1</a>
                                    </li>
                                    <li>
                                        <a href=""> Link 1</a>
                                    </li>
                                    <li>
                                        <a href=""> Link 1</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href=""> Link 1</a>
                            </li>
                            <li>
                                <a href=""> Link 1</a>
                            </li>
                            <li>
                                <a href=""> Link 1</a>
                            </li>
                        </ul>
                        <div class="show-only-s">
                            <div class="mobile-menu-logo">
                                <img src="../../images/logo.jpg" alt="Parkhotel Bayersoien">
                            </div>
                            <div class="social-media">
                                <span class="fab fa-pinterest"></span>
                                <span class="fab fa-instagram"></span>
                                <span class="fab fa-facebook"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </nav>
    <!--<nav class="nav-wrapper">
        <div class="page-wrapper">
            <a href="/">
                <img src="../../images/page_defaults/logo.png" alt="Logo">
            </a>
            <div class="menu">
                <div class="search-field">
                    <form>
                        <input>
                        <input value="Suchen" type="submit">
                    </form>
                </div>
                <ul>
                    <li class="sub-menu"><a href="/">Link-Address 1</a><div class="drop-down"></div>
                        <ul>
                            <li><a href="/">Surprise! Sub-Menu! </a>
                        </ul></li>
                    <li class="sub-menu"><a href="/">Link-Address 2</a><div class="drop-down"></div>
                        <ul>
                            <li><a href="/">Surprise! Sub-Menu! </a>
                            <li class="sub-menu active"><a href="/">level3</a><div class="drop-down"></div>
                                <ul>
                                    <li><a href="/">AZB MENGA LANGER TEXT </a>
                                    <li class="active"><a href="/">submenu action</a>
                                </ul>
                        </ul></li>
                    <li><a href="/">Link-Address 3</a></li>
                    <li><a href="/">Link-Address 4</a></li>
                    <li><a href="/">Link-Address 5</a></li>
                    <li><a href="/">Link-Address 6</a></li>
                </ul>

                <div class="language-switch">
                    <a class="active" href="#">de</a>
                    <a href="#">en</a>
                </div>
            </div>
            <div class="search">
                <i class="fa fa-search active" aria-hidden="true"></i>
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="menu-icon">
                <i class="fa fa-3x fa-bars open" aria-hidden="true"></i>
                <i class="fa fa-3x fa-times close" aria-hidden="true"></i>
            </div>
        </div>
    </nav>
</header> -->