//
// Navigation
//=================================================================================================


// @globals
//
//===================================================================

@import "../base/globals";



// @variables
//
//===================================================================



// @mixins
//
//===================================================================



// @styles
//
//===================================================================

@include exports("elements-offer") {
  .offer-element{
    padding: 0;
    cursor: pointer;
    &:hover{
      .outer .background{
/*        transform: scale(1.00);*/
      }
      .outer:after{
        background-position: 0 0%;
      }
    }
    .outer{
      width: 100%;
      padding-top: 100%;

      .icon{
        background:url('../../images/blatt.png') no-repeat;
        height: 2rem;
        width: 2rem;
        background-size: cover;
        margin: 1rem auto;
      }

      position: relative;
      overflow: hidden;
      margin:auto;
      @media #{$large-down}{
        margin: 0 10px;
      }
      @media screen and (max-width: 390px){
        height: 76.92vw;
        width: 76.92vw;
        .inner{
          .icon{
            display:none;
          }
        }
      }
      .background{
        position: absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        transition: all 300ms ease-in-out;
        background-position: center center;
        background-size:cover;
      }

      &:after{
        content: " ";
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        transition: all 300ms ease-in-out;
        background:linear-gradient(180deg, rgba(#7C2A32,0.89) 0%, rgba(#7C2A32,0.79) 50%, rgba(#7C2A32,0) 100%);
        background-size: 100% 200%;
        background-position: 0 100%;
        z-index:1;
      }
      .inner{
        position: absolute;
        top:10%;
        left:10%;
        height:80%;
        width:80%;
        border:2px solid #fff;
        z-index:2;
        padding:1rem;
        div{
          color: #fff;
          p{
            color:#fff;
          }
          display:block;
          text-align: center;
          font-size: 1.5rem;
          &.text{
            margin-top:0.75rem;
          }
          &.button-pos{
            position: absolute;
            bottom: 0;
            width:100%;
            left:0;
            transition: opacity 300ms ease-in-out;
            opacity:0;
            @include colorize-button($color-secondary, $white, $color-secondary, $white);
          }
        }
      }
    }
    &:hover .outer .inner .button-pos{
      opacity: 1;
    }
    >.button-pos{
      display: block;
      position: relative;
      left: 0;
      text-align: center;
    }
  }
}